{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Shipments' %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="/shipments/">{% trans 'Shipments' %}</a>
        {% if product %}
            &rsaquo; <a href="/shipments/{{ product.pk }}/">{{ product }}</a>
        {% endif %}
        {% if date_string and date %}
            &rsaquo; <a href="/shipments/{% if product %}{{ product.pk }}/{% endif %}?date={{ date_string }}">{{ date }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <h1>
        {% trans 'Shipments list' %}
        {% if product %}{% trans ' for' %} {{ product }}{% endif %}
        {% if date %}{% trans ' on' %} {{ date }}{% endif %}
    </h1>

    <table>
        <thead>
            <tr>
                <th>{% trans 'Product' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Invoice' %}</th>
                <th>{% trans 'Contract' %}</th>
                <th>{% trans 'Customer' %}</th>
                <th>{% trans 'Product quantity' %}</th>
                <th>{% trans 'Packaging' %}</th>
                <th>{% trans 'Cost' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in invoices %}
            <tr>
                <td>{{ item.product }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.number }}</td>
                <td>{{ item.contract }}</td>
                <td>{{ item.customer }}</td>
                <td>{{ item.product_quantity }}</td>
                <td>{{ item.packaging }}</td>
                <td>{{ item.cost }}</td>
            </tr>
            {% endfor %}
            <tr style="font-weight: bold">
                <td colspan="7">{% trans 'Total' %} {% trans 'Cost' %}</td>
                <td>{{ total_cost }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
