{% extends "base.html" %}
{% load i18n static admin_modify filters %}

{% block title %}
    {% trans 'Shipments' %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'shipments' %}">{% trans 'Shipments' %}</a>
        {% if product %}
            &rsaquo; <a href="{% url 'shipments' %}?product={{ product.pk }}">{{ product }}</a>
            {% if date_string and date %}
                &rsaquo; <a href="{% url 'shipments' %}?product={{ product.pk }}&date={{ date_string }}">{{ date }}</a>
            {% endif %}
        {% else %}
            {% if date_string and date %}
                &rsaquo; <a href="{% url 'shipments' %}?date={{ date_string }}">{{ date }}</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <h1>
        {% trans 'Shipments list' %}
        {% if product %}{% trans ' for' %} {{ product }}{% endif %}
        {% if date %}{% trans ' on' %} {{ date }}{% endif %}
    </h1>

    <div id="changelist">
        <form action="{% url 'shipments' %}" method="get">
            {{ form.media }}
            <div class="actions">
                {{ form }}
                <button type="submit" class="button" title="{% trans 'Apply' %}">{% trans 'Apply' %}</button>
            </div>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>{% trans 'Product' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Invoice' %}</th>
                <th>{% trans 'Contract' %}</th>
                <th>{% trans 'Customer' %}</th>
                <th>{% trans 'Packaging' %}</th>
                <th>{% trans 'Product quantity' %}</th>
                <th>{% trans 'Cost' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                {% for item in invoices|get_value:product.code %}
                    <tr>
                        <td>{{ item.product }}</td>
                        <td>{{ item.date }}</td>
                        <td>{{ item.number }}</td>
                        <td>{{ item.contract }}</td>
                        <td>{{ item.customer }}</td>
                        <td>{{ item.packaging }}</td>
                        <td>{{ item.product_quantity }}</td>
                        <td>{{ item.cost }}</td>
                    </tr>
                {% endfor %}
                {% if product_shipped|get_value:product.code %}
                    <tr style="font-weight: bold">
                        <td colspan="6">{{ product }}</td>
                        <td>{{ product_quantity|get_value:product.code }}</td>
                        <td>{{ product_cost|get_value:product.code }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr style="font-weight: bold">
                <td colspan="6">{% trans 'Total' %}</td>
                <td>{% if total_quantity %}{{ total_quantity }}{% endif %}</td>
                <td>{{ total_cost }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
